@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

body {
  background: url("/images/snow.jpg") no-repeat center center fixed, #000000;
  background-size: cover;
  font-family: "Inconsolata", monospace;

  margin: 0;

  color: white;
}

main {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.aside {
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
  background: rgba(0, 0, 0, .5);
}

.Century {
  color: #837ec5;
  text-shadow: 0 0 4px #837ec5;
}

.Kellogg {
  color: #0d78bb;
  text-shadow: 0 0 4px #0d78bb;
}

.Lincoln {
  color: #64bbed;
  text-shadow: 0 0 4px #64bbed;
}

.JM {
  color: #cb2026;
  text-shadow: 0 0 4px #cb2026;
}

.Mayo {
  color: #1a743a;
  text-shadow: 0 0 4px #1a743a;
}

.CTECH {
  color: #ffc01f;
  text-shadow: 0 0 4px #ffc01f;
}

li {
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  cursor: pointer;
}

li:hover {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

h2 {
  color: white;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px;
}

.rainbow {
  text-align: center;

  /* Font options */
  font-family: "Inconsolata", monospace;
  text-shadow: 0 0 4px #000000;
  font-size: 40px;

  color: rgb(126, 193, 255);
}

a {
  font-weight: bolder;
  color: rgb(174, 225, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(143, 185, 209)
}